@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using OneSound.Feature.News
@using OneSound.Foundation.SitecoreHelperExtensions

@model OneSound.Feature.News.Models.NewsDetail

<!-- ##### Breadcumb Area Start ##### -->
<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(@Html.Sitecore().GetMediaUrl(Templates.News.Fields.NewsHeadlineImage));">
  <div class="bradcumbContent">

    <h2>
      @Html.Sitecore().Field(Templates.News.Fields.NewsHeadline.ToString(), Model)
    </h2>
    <p>
      @Html.Sitecore().Field(Templates.News.Fields.NewsByline.ToString(), Model)
    </p>
  </div>
</section>
<!-- ##### Breadcumb Area End ##### -->
<!-- ##### Blog Area Start ##### -->
<div class="blog-area section-padding-100">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-9">

        <!-- Single Post Start -->
        <div class="single-blog-post mb-100 wow fadeInUp" data-wow-delay="100ms">
          <!-- Post Thumb -->
          <div class="blog-post-thumb mt-30">
            <a href="#">
              @Html.Sitecore().Field(Templates.News.Fields.NewsHeadlineImage)
            </a>
            <!-- Post Date -->
            <div class="post-date">
              <span>
                @Html.Sitecore().Field(Templates.News.Fields.NewsDate, new { format = "dd" })
              </span>
              <span>
                @Html.Sitecore().Field(Templates.News.Fields.NewsDate, new { format = "MMMM ‘ YY" })
              </span>
            </div>
          </div>

          <!-- Blog Content -->
          <div class="blog-content">
            <!-- Post Title -->
            <!-- Post Meta -->
            <div class="post-meta d-flex mb-30">
              <p class="post-author">
                By<a href="#">
                  @Html.Sitecore().Field(Templates.News.Fields.NewsAuthor.ToString(), Model)
                </a>
              </p>
              <p class="tags">in<a href="#"> Events</a></p>
              <p class="tags"><a href="#">2 Comments</a></p>
             
            </div>
            <!-- Post Excerpt -->
            @Html.Sitecore().Field(Templates.News.Fields.NewsBodyCopy.ToString(), Model)

          </div>
        </div>
        <div class="col-12 col-lg-3">
          <!-- Widget Area -->
          <div class="single-widget-area mb-30">
            <a href="#"><img src="~/assets/img/bg-img/add.gif" alt=""></a>
          </div>

          <!-- Widget Area -->
          <div class="single-widget-area mb-30">
            <a href="#"><img src="~/assets/img/bg-img/add2.gif" alt=""></a>
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-3">
        <div class="blog-sidebar-area">
          @foreach (var artist in Model.NewsArtistList)
          {<!-- Single Album -->
            <div class="single-album">
              <img src="@artist.ArtistImageUrl" alt="@artist.ArtistImageAlt">
              <div class="album-info">
                <a href="#">
                  <h5>@artist.ArtistName</h5>
                </a>
                <p>@artist.ArtistTitle</p>
              </div>
            </div>
          }
          <!-- Widget Area -->
          <div class="single-widget-area mb-30">
            <div class="widget-title">
              <h5>Categories</h5>
            </div>
            <div class="widget-content">
              <ul>
                <li><a href="#">Music</a></li>
                <li><a href="#">Events &amp; Press</a></li>
                <li><a href="#">Festivals</a></li>
                <li><a href="#">Lyfestyle</a></li>
                <li><a href="#">Uncategorized</a></li>
              </ul>
            </div>
          </div>
          <!-- Widget Area -->
          <div class="single-widget-area mb-30">
            <div class="widget-title">
              <h5>Tags</h5>
            </div>
            <div class="widget-content">
              <ul class="tags">
                <li><a href="#">music</a></li>
                <li><a href="#">events</a></li>
                <li><a href="#">artists</a></li>
                <li><a href="#">press</a></li>
                <li><a href="#">mp3</a></li>
                <li><a href="#">videos</a></li>
                <li><a href="#">concerts</a></li>
                <li><a href="#">performers</a></li>
              </ul>
            </div>
          </div>
          <!-- Widget Area -->
          <div class="single-widget-area mb-30">
            <div class="widget-title">
              <h5>Archive</h5>
            </div>
            <div class="widget-content">
              <ul>
                <li><a href="#">February 2021</a></li>
                <li><a href="#">March 2020</a></li>
                <li><a href="#">April 2020</a></li>
                <li><a href="#">May 2020</a></li>
                <li><a href="#">June 2020</a></li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>