@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using OneSound.Feature.Artists
@model OneSound.Feature.Artists.Models.LatestAlbums
<!-- ##### Latest Albums Area Start ##### -->
<section class="latest-albums-area section-padding-100">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-heading style-2">
          <p>
            @Html.Sitecore().Field(Templates.LatestAlbums.Fields.LatestAlbumsText.ToString(), Model)
           </p>
          <h2>
          @Html.Sitecore().Field(Templates.LatestAlbums.Fields.LatestAlbumsTitle.ToString(), Model)</h2>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-lg-9">
        <div class="ablums-text text-center mb-70">
          <p>
          @Html.Sitecore().Field(Templates.LatestAlbums.Fields.LatestAlbumsInformationText.ToString(), Model)</p>
        </div>
      </div>
    </div>


    @if (Model.LatestAlbumsList != null)

    {
      <div class="row">
        <div class="col-12">
          <div class="albums-slideshow owl-carousel">
            @foreach (var artist in Model.LatestAlbumsList)
            {<!-- Single Album -->
              <div class="single-album">
                <img src="@artist.ArtistImageUrl" alt="@artist.ArtistImageAlt">
                <div class="album-info">
                  <a href="#">
                    <h5>@artist.ArtistName</h5>
                  </a>
                  <p>@artist.ArtistTitle</p>
                </div>
              </div>
            }
          </div>
        </div>
      </div>
    }
  </div>

</section>
<!-- ##### Latest Albums Area End ##### -->
