@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using OneSound.Feature.Homepage
@using OneSound.Foundation.SitecoreHelperExtensions
@model RenderingModel
  <!-- ##### Hero Area Start ##### -->
  <section class="hero-area">
    <div class="hero-slides owl-carousel">
      <!-- Single Hero Slide -->
      <div class="single-hero-slide d-flex align-items-center justify-content-center">
        <!-- Slide Img -->
        <div class="slide-img bg-img" style="background-image: url(@Html.Sitecore().GetMediaUrl(Templates.HomepageHero.Fields.HomepageHeroSlide1BackgroundImage));"></div>
        <!-- Slide Content -->
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="hero-slides-content text-center">
                <h6 data-animation="fadeInUp" data-delay="100ms">@Html.Sitecore().Field(Templates.HomepageHero.Fields.HomepageHeroSlide1Title)</h6>
                <h2 data-animation="fadeInUp" data-delay="300ms">@Html.Sitecore().Field(Templates.HomepageHero.Fields.HomepageHeroSlide1Tagline)</h2>
                <a data-animation="fadeInUp" data-delay="500ms" href="#" class="btn oneMusic-btn mt-50">@Html.Sitecore().Field(Templates.HomepageHero.Fields.HomepageHeroSlide1CTALinkText)<i class="fa fa-angle-double-right"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Single Hero Slide -->
      <div class="single-hero-slide d-flex align-items-center justify-content-center">
        <!-- Slide Img -->
        <div class="slide-img bg-img" style="background-image: url(@Html.Sitecore().GetMediaUrl(Templates.HomepageHero.Fields.HomepageHeroSlide2BackgroundImage));"></div>
        <!-- Slide Content -->
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="hero-slides-content text-center">
                <h6 data-animation="fadeInUp" data-delay="100ms">@Html.Sitecore().Field(Templates.HomepageHero.Fields.HomepageHeroSlide2Title)</h6>
                <h2 data-animation="fadeInUp" data-delay="300ms">@Html.Sitecore().Field(Templates.HomepageHero.Fields.HomepageHeroSlide2Tagline)</h2>
                <a data-animation="fadeInUp" data-delay="500ms" href="#" class="btn oneMusic-btn mt-50">@Html.Sitecore().Field(Templates.HomepageHero.Fields.HomepageHeroSlide2CTALinkText) <i class="fa fa-angle-double-right"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ##### Hero Area End ##### -->